.manageContentBG{
    background-color:$gray6;
    margin-bottom:20px;
    border-radius:$borderRadius5;
    box-shadow: $shadowBlack;

    &:last-child{margin-bottom:0;}

    .manageContentHead{
        padding:10px 0;
        border-bottom:1px solid $gray5;

        h6{
            color:$lightBlack;
            margin-bottom:0 !important;
            padding:0 10px;
            font-size:1rem;
            font-weight: $r700;
        }
    }

    .manageContentBody{
        padding:12px 20px;

        .manageContentBlueBtn{
            width:100%;
            padding:7px 0;
            border-radius:$borderRadius5;
            background-color:$blue3;
            box-shadow:$shadowBlue;
            color:#fff;
            font-weight:$r500;
            font-size:.95rem;
            margin-bottom:10px;
			display:block;
			text-align:center;
			text-decoration:none;
        }

        .manageContentGreenBtn{
            width:100%;
            padding:7px 0;
            border-radius:$borderRadius5;
            background:$gradientBlueGreen;
            box-shadow:$shadowGreen;
            color:$lightBlack;
            font-weight:$r500;
            font-size:.95rem;
			display:block;
			text-align:center;
			text-decoration:none;
        }
    }
}

/* start add main category */
.addMainCatHeader{
	min-height:175px;
	
	.addMainCatPageLogo{
		position: relative;
        top:60px;
        left:50%;
        transform: translateX(-50%);
	}
}

.addMainCatWrapper{
	padding:70px 20px 20px;
}

#catAddedNotif{
	font-size:.9rem;
    font-weight:$r700;
    color:$blue3;
    padding-bottom:10px;
}
/* end add main category */

/* start view main category */
.viewMainCatHeader{
	min-height:175px;
	
	.viewMainCatPageLogo{
		position: relative;
        top:60px;
        left:50%;
        transform: translateX(-50%);
	}
}

.viewMainCatWrapper{
    padding:10px 20px 20px;
    
    .viewMainCat{
        background:$gray6;
        border:$borderGray5;
        border-radius:$borderRadius5;
        box-shadow:$shadowBlack;

        .viewMainCatTitle{
            padding:10px 10px 0;
            border-bottom:$borderGray5;

            h6{
                font-size:1.1rem;
                color:$lightBlack;
                font-weight:$r700;
            }
        }

        .viwMainCatListWrapper{
            padding:10px;

            .mainCatContainer{
                padding:7px 10px;
                background:#fff;
                margin:0 0 10px !important;
                border-radius:$borderRadius5;

                &:last-child{margin-bottom:0 !important;}

                .catNameContainer{
                    padding-right:0 !important;
                    padding-left:0 !important;

                    p{
                        margin-bottom:0 !important;
                        font-size:.9rem;
                        color:$lightBlack;
                        font-weight:$r700;
                    }
                }

                .viewMainCatCta{
                    padding-right:0 !important;
                    padding-left:18px !important;

                    .editCategoryBtn{
                        margin-right:5px;
                    }
                }
            }
        }
    }
}

/* end view main category */

/* start edit main category */
.editMainCatHeader{
	min-height:175px;
	
	.editMainCatPageLogo{
		position: relative;
        top:60px;
        left:50%;
        transform: translateX(-50%);
	}
}

.editMainCatWrapper{
	padding:70px 20px 20px;
}

#editAddedNotif{
	font-size:.9rem;
    font-weight:$r700;
    color:$blue3;
    padding-bottom:10px;
}
/* end edit main category */

/* start add sub category */
.addSubCatHeader{
	min-height:175px;
	
	.addSubCatPageLogo{
		position: relative;
        top:60px;
        left:50%;
        transform: translateX(-50%);
	}
}

.addSubCatWrapper{
	padding:70px 20px 20px;
}

#subCatAddedNotif{
	font-size:.9rem;
    font-weight:$r700;
    color:$blue3;
}
/* end add sub category */

/* start view sub category */
.viewSubCatHeader{
	min-height:175px;
	
	.viewSubCatPageLogo{
		position: relative;
        top:60px;
        left:50%;
        transform: translateX(-50%);
	}
}

.viewSubCatWrapper{
    padding:10px 20px 20px;
    
    .viewSubCat{
        background:$gray6;
        border:$borderGray5;
        border-radius:$borderRadius5;
        box-shadow:$shadowBlack;
        margin-bottom:20px;

        &:last-child{margin-bottom:0;}

        .viewSubCatTitle{
            padding:10px 10px 0;
            border-bottom:$borderGray5;

            h6{
                font-size:1.1rem;
                color:$lightBlack;
                font-weight:$r700;
            }
        }

        .viewSubCatListWrapper{
            padding:10px;

            & > p{
                text-align: center;
                font-size:.8rem;
                color:$red;
            }

            .subCatContainer{
                padding:7px 10px;
                background:#fff;
                margin:0 0 10px !important;
                border-radius:$borderRadius5;

                &:last-child{margin-bottom:0 !important;}

                .subNameContainer{
                    padding-right:0 !important;
                    padding-left:0 !important;

                    p{
                        margin-bottom:0 !important;
                        font-size:.9rem;
                        color:$lightBlack;
                        font-weight:$r700;
                    }
                }

                .viewSubCatCta{
                    padding-right:0 !important;
                    padding-left:18px !important;

                    .editSubCategoryBtn{
                        margin-right:5px;
                    }
                }
            }
        }
    }
}

/* end view sub category */

/* start edit sub category */
.editSubCatHeader{
	min-height:175px;
	
	.editSubCatPageLogo{
		position: relative;
        top:60px;
        left:50%;
        transform: translateX(-50%);
	}
}

.editSubCatWrapper{
	padding:70px 20px 20px;
}

#editAddedNotif{
	font-size:.9rem;
    font-weight:$r700;
    color:$blue3;
    padding-bottom:10px;
}
/* end edit sub category */

/* start add content */
.addContentHeader{
	min-height:175px;
	
	.addContentPageLogo{
		position: relative;
        top:60px;
        left:50%;
        transform: translateX(-50%);
	}
}

.addContentWrapper{
    padding:70px 20px 20px;

    .imgContainer{
        padding:10px;
        border-radius: 3px;
        background-color: $gray5;
        margin-top:10px;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-gap: 10px;
        align-items: center;

        .screenImgThumb{
            font-size: 2rem;
            color:$blue3;
        }

        p{
            font-size:.8rem;
            font-weight: $r700;
            color:$lightBlack;
        }
    }
}

#contentAddedNotif{
	font-size:.9rem;
    font-weight:$r700;
    color:$blue3;
}
/* end add content */

/* start view contents */
.viewContentsHeader{
	min-height:175px;
	
	.viewContentsPageLogo{
		position: relative;
        top:60px;
        left:50%;
        transform: translateX(-50%);
	}
}

.viewContentsWrapper{
    padding:10px 20px 20px;

    .viewContentsSearch{

        .searchboxContainer{
            background-color:$gray6;
            padding:5px 0;
            border-radius:$borderRadius5;
            box-shadow:$shadowBlack;

            .searchboxIcon{
                font-size: 1.1rem;
                color:$lightGray;
                
                &:hover{cursor: pointer;}
            }
    
            .searchboxInput{
                border:none;
                background-color:$gray6;
                margin-left:2px;
                color:$lightBlack;
                font-size:.8rem;
                font-weight:$r500;
    
                &::placeholder{
                    color:$lightGray;
                    font-size:.8rem;
                    font-weight:$r400;
                }
            }
        }
    }

    .contentsWrapper{
        padding:30px 0 20px;

        .noResult{
            text-align: center;
            font-size:1.3rem;
            color:$red;
        }

        .viewContents{
            background:$gray6;
            border:$borderGray5;
            border-radius:$borderRadius5;
            box-shadow:$shadowBlack;
            margin-bottom:20px;

            &:last-child{margin-bottom:0;}

            .viewContentsCat{
                padding:10px 10px 0;
                border-bottom:$borderGray5;

                h6{
                    font-size:1.1rem;
                    color:$lightBlack;
                    font-weight:$r700;
                }
            }

            .viewContentsSubCat{
                padding:0 10px 10px;
                border-bottom:$borderGray5;

                .contentAddSubCat{
                    margin-top:10px;
                }

                .subCatBtn{
                    background:$blue;
                    padding:5px 10px;
                    border-radius: 5px;
                    margin-right: 5px;
                    margin-top:10px;
                    outline: none;
                    transition: background 200ms ease-in-out;

                    &:last-child{
                        margin-right:0px;
                    }

                    &.activeSub{
                        background:#fff;
                    }

                    p{
                        color:$lightBlack;
                        font-weight:$r500;
                        font-size:.9rem;
                    }
                }

                & > p{
                    text-align: center;
                    font-size:.8rem;
                    color:$red;
                    margin-top:10px;
                }
            }

            .viewContentsContent{
                padding:10px;
                position: relative;

                .contentContainerViewAdmin{
                    padding:7px 10px;
                    background:#fff;
                    margin:0 0 10px !important;
                    border-radius:$borderRadius5;

                    &:last-child{
                        margin:0!important;
                    }

                    .contentNameCont{
                        padding-right:0px !important;
                        padding-left:0px !important;

                        .contentName{
                            color:$lightBlack;
                            font-size:.85rem;
                            font-weight:$r700;
                        }

                        .contentFilesize{
                            color:$lightGray;
                            font-size:.75rem;
                        }
                    }

                    .contentCta{
                        padding-right:0px !important;
                        padding-left:8px !important;
                    }
                }

                & > p{
                    text-align: center;
                    font-size:.8rem;
                    color:$red;
                }
            }
        }
    }
}

/* end view sub category */

/* start edit sub category */
.editContentHeader{
	min-height:175px;
	
	.editContentPageLogo{
		position: relative;
        top:60px;
        left:50%;
        transform: translateX(-50%);
	}
}

.editContentWrapper{
    padding:70px 20px 20px;
    
    .imgContainer{
        padding:10px;
        border-radius: 3px;
        background-color: $gray5;
        margin-top:10px;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-gap: 10px;
        align-items: center;

        .screenImgThumb{
            font-size: 2rem;
            color:$blue3;
        }

        p{
            font-size:.8rem;
            font-weight: $r700;
            color:$lightBlack;
            word-break: break-all;
        }
    }
}

#editAddedNotif{
	font-size:.9rem;
    font-weight:$r700;
    color:$blue3;
    padding-bottom:10px;
}
/* end edit sub category */

/* start add content */
.addBannerHeader{
	min-height:175px;
	
	.addBannerPageLogo{
		position: relative;
        top:60px;
        left:50%;
        transform: translateX(-50%);
	}
}

.addBannerWrapper{
    padding:70px 20px 20px;
}

#bannerAddedNotif{
	font-size:.9rem;
    font-weight:$r700;
    color:$blue3;
}
/* end add content */

/* start view contents */
.viewBannersHeader{
	min-height:175px;
	
	.viewBannersPageLogo{
		position: relative;
        top:60px;
        left:50%;
        transform: translateX(-50%);
	}
}

.viewBannersWrapper{
    padding:10px 20px 20px;

    .bannersWrapper{
        padding:30px 0 20px;

        .noResult{
            text-align: center;
            font-size:1.3rem;
            color:$red;
        }

        .viewBanners{
            background:$gray6;
            border:$borderGray5;
            border-radius:$borderRadius5;
            box-shadow:$shadowBlack;
            margin-bottom:20px;

            h6{
                padding:10px 10px;
                border-bottom:$borderGray5;
                font-size:1.1rem;
                color:$lightBlack;
                font-weight:$r700;
            }

            .bannerContainer{
                background:#fff;
                width:initial;
                margin:0 10px 10px !important;
                padding-left: 10px !important;
                padding-right: 10px !important;
                border-radius:$borderRadius5;

                .bannerDetailsContainer{
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                    padding:10px 0;

                    .bannerName{
                        padding-left:0 !important;
                        padding-right:0 !important;
                        color: #403A3A;
                        font-size: .85rem;
                        font-weight: 700;
                    }

                    .deleteBannerBtn{
                        padding-left:0 !important;
                        padding-right:0 !important;
                    }
                }

                .bannerImgContainer{
                    position: relative;

                    p{
                        position: absolute;
                        bottom:35px;
                        left:15px;
                        width:50%;
                        color: #fff;
                        font-size: .85rem;
                        font-weight: 700;
                        z-index: 2;
                    }

                    img{
                        position: absolute;
                        top:0;
                        left:0;
                    }
                }
            }

            & > p{
                text-align: center;
                font-size:.8rem;
                color:$red;
                margin-bottom: 10px !important;
            }
        }
    }
}

/* end view sub category */
